.error {
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  color:#F5222D;
  margin: 0;
}

.success {
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #52C41A;
  margin: 0;
}