$greenColor: #52C41A;

.article {
  position: relative;
  margin: auto;
  width: 941px;
  background: #FFFFFF;
  margin-top: 26px;
}

.articleBody {
  width: 880px;
  margin: 0 42px 0 19px;
  padding-bottom: 30px;
}
.buttons {
  display: flex;
  position: absolute;
  top: 93px;
  right: 13px;

  .edit-article {
    font-family: Inter;
    padding: 6px 17px;
    width: 65px;
    height: 31px;
    border: 1px solid $greenColor;
    border-radius: 5px;
    color: $greenColor;
    margin-left: 12px;
  
    &:hover {
      color: $greenColor;
    }
  }
}

.spinWrap {
  margin-top: 200px;
}