.linkWrap {
  display: flex;
  justify-content: center;
}

.value {
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  color: #8C8C8C;
  margin-right: 3px;
}

.linkName {
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
}