$greenColor: #52C41A;


.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  background: #FFFFFF;
}

.logo {
  text-decoration: none;
}
.buttons {
  display: flex;
  align-items: center;
}

.sign-in, .sign-up {
  outline: none;
  
  font-size: 18px;
  line-height: 28px;
  color:rgba(0, 0, 0, 0.85);
  text-decoration: none;
}
.sign-in {
  border: none;
}
.sign-up {
  padding: 6px 18px 10px;
  border: 1px solid $greenColor;
  color: $greenColor;
  border-radius: 5px;
  margin-left: 30px;

  &:hover {
    color: $greenColor;
  }
}

.create-article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 31px;
  border: 1px solid $greenColor;
  box-sizing: border-box;
  border-radius: 5px;
  color: $greenColor;

  &:hover {
    color: $greenColor;
  }
}