
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 17px;
  margin-top: 26px;
}

.articleList {
  list-style: none;
  margin-bottom: 0;

  &>li {
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    margin-bottom: 26px;
    width: 941px;
  }
}

.spinWrap {
  margin-top: 200px;
}